<div class="header">
  <div class="layout">
    <div class="first_item">
      <img src="../../assets/images/cribr.png" class="img" />
    </div>

    <!-- <div class="second_item">
      <div class="navigation">
        <div class="nav-item">
          <a class="nav-item_border_right">Off-Campus</a>
        </div>
        <div class="nav-item">
          <a class="nav-item_border_right">Properties</a>
        </div>

        <div class="nav-item">
          <a class="nav-item_border_right">Auctions</a>
        </div>
        <div class="nav-item">
          <button class="">
            <img src="../../assets/images/search.png" class="img_search" />
          </button>
        </div>
      </div>
    </div>
    <div class="last_item">hi</div> -->
  </div>
</div>
