<div class="bottomm" id="myTooltip" *ngIf="show">
  <button class="btn" (click)="toogleTooltip()">Close</button>
  <i></i>
</div>
<div class="footer">
  <div class="holder">
    <button><img src="../../assets/images/footer/heart.png" /></button>
    <button><img src="../../assets/images/footer/hammer.png" /></button>
    <button><img src="../../assets/images/footer/inbox.png" /></button>
    <button (click)="toogleTooltip()">
      <img src="../../assets/images/footer/profile.png" width="35" />
    </button>
  </div>
</div>
