@import "../../variables";

.bottomm {
  position: fixed;
  height: 50%;
  width: 95%;
  left: 50%;
  bottom: 6%;
  margin-top: 18px;
  transform: translate(-50%, 0);
  background-color: #fff;
  opacity: 2;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;

  .menu-holder {
    width: 95%;
    height: 80%;
    display: flex;
    margin: 0.5rem auto;

    ul {
      list-style: none;
      text-align: start;
      width: 95%;
      height: 95%;
      display: flex;
      flex-direction: column;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      li {
        box-sizing: border-box;
        text-decoration: none;
        padding: 1.5rem 0;
        padding-left: 3rem;
        padding-right: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h-6 {
          height: 26px;
        }

        a:hover {
          background-color: aqua;
        }
      }
    }
  }
  .logout-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: red;
    background-color: white;
    color: red;
  }
  .logout-btn:hover {
    background-color: #ff3333;
  }
}
pointer:hover {
  cursor: pointer;
}

i {
  position: absolute;
  top: 100%;
  left: 95%;
  margin-left: -15px;
  width: 18px;
  height: 15px;
  overflow: hidden;
}

i::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 0.2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 0.8rem 1rem;
  background: #ffffff;
  border: 1px solid #7bcfad;

  z-index: 50;

  .holder {
    padding-bottom: 0.4rem;
    width: 90%;
    @include center(0);
    @include flexJustify($spaceBetweenJustification);

    .btn {
      border: none;
      background-color: #ffffff;
      @include flexJustify($centerJustification);
    }
  }
}

@media (min-width: 500px) {
  .footer {
    display: none;
  }
  .bottomm {
    display: none;
  }
}
