<div class="nav">
  <!-- <div class="bottomm" id="myTooltip">
    <button class="btn" (click)="toogleTooltip()">Close</button>
    <i></i>
  </div> -->
  <div class="holder">
    <button><img src="../../assets/images/nav/home.png" /></button>
    <button><img src="../../assets/images/nav/lands.png" /></button>
    <button><img src="../../assets/images/nav/centers.png" /></button>
    <button>
      <img src="../../assets/images/nav/office.png" />
    </button>
    <button>
      <img src="../../assets/images/nav/hotels.png" />
    </button>
    <button><img src="../../assets/images/nav/more.png" /></button>
  </div>
</div>
